# Default ignored files
/workspace.xml


# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# log files
./logs
*.log

# IntelliJ
out/